<html ng-app="expensesApp">
  <head>
    <meta charset="utf-8">
    <title>Simple Expenses Tracker</title>
    <script src="http://localhost/angular/js/angular.min.js"></script>
    <script src="http://localhost/angular/js/app.js"></script>
  </head>
  <body ng-controller="ExpensesViewController">
    {{name}}
    <h1>{{phrase}}</h1>
    {{expense.description}} - {{expense.amount}}
    <button ng-click="increaseAmount()">Increase amount</button>
    <div style="margin-top:50px;">
      <input ng-model="expense.description" type="text" />
    </div>
    <div style="margin-top:50px;">
      <input ng-model="expense.amount" type="number" />
    </div>
    <div style="margin-top:50px;">
      <textarea ng-model="phrase"></textarea>
    </div>
  </body>
</html>
